.analyser-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    min-width: 17rem;
    width: 20vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    animation: .5s ease-out moveInUp;

    mat-button-toggle-group {
      margin-bottom: 1rem;
      .mat-button-toggle {
        width: 100%;
        //::ng-deep .mat-button-toggle-label-content {
        //  line-height: 2rem;
        //}
      }
    }


    //mat-form-field {
    //  margin: 1rem 0;
    //}
  }
}
