@import 'src/styles.scss';

mat-list {
  width: 100%;
  max-height: 27rem;
  overflow-y: auto;
  margin-bottom: 2rem;
  ::ng-deep .mat-list-item:nth-child(even) {
    background: $analyser-secondary-blue;
  }
  ::ng-deep .mat-list-item-content {
    display: flex;
    justify-content: space-between;
  }
}
